.root {
  padding: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media only screen and (min-width: 800px) {
  .root {
    width: 800px;
    left: unset;
    right: unset;
  }
}

